{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="col">
		<div class="jumbotron">
			<h2>Authentification:</h2>
			<p>Authentification: Avant de pouvoir accéder a n'importe quelle page de l'application, l'utilisateur doit s'authentifier correctement
				<br>Login : admin
				<br>Password : admin</p>
		</div>
	</div>
{% endblock %}
